#parent{
    width: 600px;
    
    background-color: bisque;
    padding: 15px;
    border: 3px solid rgb(38, 63, 0);
    border-radius: 14px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header header header header"
    "menu content content content content ads"
    "menu content content content content ads"
    "menu content content content content ads"
    "footer footer footer footer footer footer" ;
    gap: 5px;
}
.header{
    grid-area: header;
    border: 11px solif rgb(234, 0, 0);
    border-radius: 10px;
    text-align:center;
    background-color: bisque;
}
.footer{
    grid-area: footer;
    border: 1px solif black;
    border-radius: 10px;
    text-align:center;
    background-color: rgb(218, 126, 13);
}
.menu{
    grid-area: menu;
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
    background-color: darkcyan;
}
.ads{
    grid-area: ads;
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
    background-color: rgb(112, 255, 255);
    padding: 25px;

}
.content{
    grid-area: content;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
